/*---TITLES STYLES---*/

h1, h3 {
    text-align: center;
    font-size-adjust: 1.1em;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    max-width: 60%;
    margin: auto;
    padding-bottom: 20px;
}
/*---CONTENT AREA STYLES---*/

.content_para {

    text-align: left;
    max-width: 70%;
    margin: auto;
    margin-top: 30px;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}

.upper-image-wrapper {

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    margin:auto;
    margin-top:30px;
    
}
.article_upper_img {
    max-height: 300px;
    max-width: 200px;
    margin-left:10px;
    margin-right: 10px;
}

    




