/*---TITLES STYLES---*/

h1, h3 {
    text-align: center;
    font-size-adjust: 1.1em;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    max-width: 60%;
    margin: auto;
    padding-bottom: 20px;
}
/*---CONTENT AREA STYLES---*/

.content_para {

    text-align: left;
    max-width: 70%;
    margin: auto;
    margin-top: 30px;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}

.upper-image-wrapper {

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    margin:auto;
    margin-top:30px;
    
}
.article_upper_img {
    max-height: 300px;
    max-width: 200px;
    margin-left:10px;
    margin-right: 10px;
}

/*--- Rotating images styles  ---*/

.rot-img1 {

    -webkit-transform: rotate(10deg); /* Chrome & Safari */
    -moz-transform: rotate(10deg); /* Firefox */
    -ms-transform: rotate(10deg); /* IE 9+ */
    -o-transform: rotate(10deg); /* Opera */
    transform: rotate(10deg); /* CSS3 */
}
.rot-img2 {

    -webkit-transform: rotate(-12deg); /* Chrome & Safari */
    -moz-transform: rotate(-12deg); /* Firefox */
    -ms-transform: rotate(-12deg); /* IE 9+ */
    -o-transform: rotate(-12deg); /* Opera */
    transform: rotate(-12deg); /* CSS3 */

}
.rot-img3 {

    -webkit-transform: rotate(15deg); /* Chrome & Safari */
    -moz-transform: rotate(15deg); /* Firefox */
    -ms-transform: rotate(15deg); /* IE 9+ */
    -o-transform: rotate(15deg); /* Opera */
    transform: rotate(15deg); /* CSS3 */

}
.rot-img4 {

    -webkit-transform: rotate(-12deg); /* Chrome & Safari */
    -moz-transform: rotate(-12deg); /* Firefox */
    -ms-transform: rotate(-12deg); /* IE 9+ */
    -o-transform: rotate(-12deg); /* Opera */
    transform: rotate(-12deg); /* CSS3 */

}
.rot-img5 {

    -webkit-transform: rotate(15deg); /* Chrome & Safari */
    -moz-transform: rotate(15deg); /* Firefox */
    -ms-transform: rotate(15deg); /* IE 9+ */
    -o-transform: rotate(15deg); /* Opera */
    transform: rotate(15deg); /* CSS3 */

}
.rot-img6 {

    -webkit-transform: rotate(-12deg); /* Chrome & Safari */
    -moz-transform: rotate(-12deg); /* Firefox */
    -ms-transform: rotate(-12deg); /* IE 9+ */
    -o-transform: rotate(-12deg); /* Opera */
    transform: rotate(-12deg); /* CSS3 */

}