
/* ---BASE STYLES--- */

body{

    background: beige;
    background-image: url("../img/625715120-612x612.jpg");
    background-repeat: repeat;
    background-attachment: inherit;
    background-position: center;
    background-size: 100%;
}

header{

  text-align: center;
  font-family: 'Courier New', Courier, monospace;  
}

li {
    list-style-type: none;   
}

a:link {
    color: black;
    text-decoration: none;
}
a:visited {

    color: royalblue;

}
/* ---MAIN HEADER STYLES--- */

.heading-wrappr{   
    float:center;
    margin:auto;
}
.social-container{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top:25px;
    margin-bottom:0; 
}

#facebook-img,
#instagram-img,
#pinterest-img,
#twitter-img {
    max-width: 25px;
    max-height: 25px; 
    margin-left:10px;  
}

/* ---MAIN NAVIGATION STYLES--- */



.nav-container {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: flex; 
    flex-direction: row;   
    justify-content: space-around;
    margin: auto;
    align-items:center;
    align-self: center;
}

.nav-container li {
    font-size: 24px;
    margin: 10px;   
   
}

#nav-img {
    max-width: 300px;
    max-height: 300px;
    }



/* ---FEATURED CONTENT  STYLES--- */

.article-place-holder {
    display:flex;
    justify-content: space-around;
    min-height: 700px;
    background-color: gray;
    background-image: url("../img/placeholder.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    max-width: 80%;
    min-width: 80px;
    margin:auto;
    margin-top: 50px; 
}

#feat-article-header {
    padding-top: 250px;  
}
/* ---CONTENT AREA STYLES--- */

.content-area{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
.con-article-place-holder {

    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height:400px;
    width:300px;
    background-color: gray;
    background-image: url("../img/placeholder.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    max-width: 80%;
    min-width: 80px;
    margin:auto;
    margin-top: 50px;
}

.article-header {
    margin-top:100px;
}
.article-link a:link{

    text-decoration: line-through;
}

/* ---FOOTERS STYLES--- */


#upper-footer {
   
    max-width: 98%;
    min-height: 200px;
    margin: auto;
    border: 3px solid black;
    border-bottom: none;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify; 
    background: rgba(256, 256, 256, 0.3);
    
}  

#lower-footer{
   display: flex;
   flex-direction: column;
    width:  100%;
    border-top: 3px solid black; 
    padding-top: 10px;
    background: rgba(256, 256, 256, 0.4);
    margin-left:0;
    margin-right:0;
    padding-right: 0;
    padding-left: 0;   
}

.upper-footer-titles{

    display:flex;
    flex-direction: row;
    justify-content: center;
}
.footer-titles{
padding-left: 50px;
padding-right: 50px;
}
.footer-content-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-logo {
    height: 75px;
    width: 75px;
    margin: auto;
    
}

#lower-footer-links{

    display: flex;
    height: 50px; 
  }
  
#lower-footer-links li {
    width: 100px;  
    margin: auto; 
  }
  #lower-footer-links li{

    font-size:32px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
  }

  .footer-social-container {

    display:flex;
    justify-content: center;
    margin:0;
  }